$colorBtn: #FF4343;
$colorTextAndIcons: #FF4343;
$colorBtnHover: #E71414;
$maneFont: 'Raleway', sans-serif;
$additionalFont: 'Cardo', serif;
$linkHover: #FF4343CC;
$linkActive: #B90C0CCC;

@mixin h1Style {
    font-family: $maneFont;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
}
@mixin h2Style {
    font-family: $maneFont;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
@mixin h3Style {
    font-family: $maneFont;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}
@mixin h4Style {
    font-family: $maneFont;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
@mixin pStyle {
    font-family: $maneFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
@mixin pStyleAdaptive {
    font-family: $maneFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
}
@mixin container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1024px ) {
        max-width: 1024px;
        padding: 0 20px;
    }
    @media (max-width: 480px ) {
        width: 100%;
        padding: 0 20px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
path {
    transition: all .3s linear;
}
.container {
    @include container();
}
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 15px;
    @media (max-width: 320px ) {
        width: 100%;
        padding: 0 20px;
        }

&_container {
    padding: 0px;
    border-bottom: 1px solid #BABBC5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @media (max-width: 1024px ) {
    max-width: 984px;
    padding: 0px;
    }
    @media (max-width: 600px ) {
        border-bottom: none;
    }
}
&__logo__link {
    display: block;
}
&__logo {
    height: 26px;
    width: 184px;
    @media (max-width: 320px ) {
        height: 14.5px;
        width: 102px;
        }
}
&__menu{
    display: none ;
    @media (max-width: 768px ) {
        display: block;
    }
    &__link {
        display: block;
        padding: 19px 15px;
    }
}
}
.navigation {
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        font-family: $maneFont;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        width: 134px;
        text-transform: uppercase;
        @media (max-width: 1024px ) {
            font-size: 12px;
            line-height: 14px;
            width: 112px;
            }
    }
    &__link  {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 42.5px 0;
        text-align: center;
        position: relative;
        @media (max-width: 1024px ) {
            padding: 36px 0;
            }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 3px;
            width: 134px;
            background-color: transparent;
            top: calc(100% - 2px);
            left: 0px;
            transition: background-color .3s linear;
        }
        &:hover::after {
            background-color: #BABBC5;
            @media (max-width: 1024px ) {
                width: 119px;
                }
        } &:active {
            color: $colorBtnHover;
        }
        &:active::after {
            background-color: $colorBtnHover;
            @media (max-width: 1024px ) {
                width: 119px;
                }
        }
    } 
    @media (max-width: 768px ) {
        display: none;
    }
}

.banner {
    background-image: url(../img/maneImg.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-bottom: 120px ;
    padding-top: 230px;
    z-index: 0;
    @media (max-width: 1024px ) {
        padding: 257px 20px 126px ;
        }
    @media (max-width: 768px ) {
            padding: 180px 0 70px ;
        }
    @media (max-width: 600px ) {
        padding: 140px 0 70px ;
    }
    @media (max-width: 480px ) {
        padding: 110px 0 52px ;
    }
    

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #252B49;
        opacity: 80%;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    &__container {
        position: relative;
        z-index: 2;
        text-align: center;
    }
    &__title {
        @include h1Style();
        margin-bottom: 31px;
        @media (max-width: 1024px ) {
            font-size: 48px;
            line-height: 56px;
            max-width: 744px;
            margin: 0 auto 62px;
            }
        @media (max-width: 480px ) {
            max-width: 400px;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 36px;
            }
    }
    &__text {
        @include h4Style ();
        font-weight: 400;
        @media (max-width: 1024px ) {
            @include pStyle ();
            max-width: 744px;
            margin: 0 auto;
            }
        @media (max-width: 480px ) {
            @include pStyleAdaptive();
            max-width: 400px;
            }
    }
    &__btn{
        @include h4Style();
        color: #fff;
        border: none;
        padding: 25px;
        width: 100%;
        max-width: 369px;
        background-color: $colorBtn;
        margin: 82px auto 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s linear, box-shadow 0.3s linear;
        @media (max-width: 1024px ) {
            width: 100%;
            max-width: 313px;
            margin: 92px auto 0;
            }
        @media (max-width: 768px ) {
            width: 100%;
            max-width: 280px;
            margin: 65px auto 0;
            padding: 15px;
            }
        @media (max-width: 480px ) {
            margin: 51px auto 0;
            }
        
    }
    &__btn:hover{
        background-color: $colorBtnHover;
    }
    &__btn:active {
        background-color: $colorBtn;
        box-shadow: 4px 4px 30px $colorBtn;
    }
}
.features {
    padding: 116px 15px 134.5px;
    @media (max-width: 1024px ) {
        padding: 78px 15px 80px;
        }
    @media (max-width: 924px ) {
        padding: 50px 20px 45px;
        }
    @media (max-width: 480px ) {
        padding: 40px 20px 35px;
        }

    &__container{
        padding: 0;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 88px;
        column-gap: 30px;
        @media (max-width: 1024px ) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 50px;
            column-gap: 20px;
            }
        @media (max-width: 620px ) {
            grid-template-columns: 1fr;
            row-gap: 41.5px;
            }
    }
    &__item {
        @media (max-width: 620px ) {
            max-width: 480px;
            margin: 0 auto;
            }
        &__svg {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto 29px;
            display: block;
            @media (max-width: 1024px ) {
                max-width: 85px;
                max-height: 85px;
                margin: 0 auto 23.5px;
                }
            @media (max-width: 1024px ) {
                max-width: 75px;
                max-height: 75px;
                margin: 0 auto 22px;
                }
        }
        &__title {
            @include h4Style();
            margin-bottom: 42px;
            text-align: center;
            @media (max-width: 1024px ) {
                margin-bottom: 23.5px;
                font-size: 18px;
                line-height: 21px;
                }
            @media (max-width: 320px ) {
                margin-bottom: 6.5px;
                }
        }
        &__text {
            @include pStyle();
            text-align: center;
            @media (max-width: 1024px ) {
                font-size: 14px;
                line-height: 16.5px;
                }
        }
    }
}
.works {
    &__container{
        max-width: 100%;
        padding: 0;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 0;
        @media (max-width: 768px ) {
            grid-template-columns: repeat(2, 50%);
            }
    }
    &__item {
        position: relative;
        text-decoration: none;
        display: block;        
        &__wrap {
            position: relative;
            overflow: hidden;
            border: 1px solid #fff ;
            &::after {
            content: "";
            display: block;
            padding-top: 100%;
            }
        }
        &__img {
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-position: center;
        }
        &__text {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            text-align: center;
            background-color: transparent;
            display: flex;
            color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .3s linear;
            &:hover {
                color: #fff;
                background-color: $linkHover;
            }
            &:active {
                color: #fff;
                background-color: $linkActive;
            }
        }
        &__title {
            @include h4Style();
            margin-bottom: 36px;
            @media (max-width: 1024px ) {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 21px;
            }
            @media (max-width: 320px ) {
                margin-bottom: 5px;
            }
        }
        &__comment {
            @include pStyle();
            @media (max-width: 1024px ) {
                @include pStyleAdaptive();
            }
        }
    }
}
.team {
    padding: 114px 0;
    @media (max-width: 1024px ) {
        padding: 78px 0;
        }
    @media (max-width: 768px ) {
        padding: 50px 0;
        }
    @media (max-width: 320px ) {
        padding: 35px 0;
        }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 25px;
        @media (max-width: 768px ) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }
        @media (max-width: 480px ) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        @media (max-width: 768px ) {
            margin-bottom: 50px;
        }
        @media (max-width: 320px ) {
            width: 100%;
            margin-bottom: 49.5px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        
        &__wraper{
            position: relative;
            margin-bottom: 30px;
            overflow: hidden; 
            @media (max-width: 1024px ) {
            margin-bottom: 25px;
            }
            &::after{
                content: "";
                display: block;
                padding-top: 100%;
            }
        }
        &__photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &__name{
            @include h4Style();
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 5px;
            @media (max-width: 1024px ) {
                @include pStyle();
                font-weight: 700;
                margin-bottom: 4.5px;
            }
        }
        &__position{
            @include pStyle();
            color: $colorTextAndIcons;
            text-transform: uppercase;
            margin-bottom: 18px;
            @media (max-width: 1024px ) {
                @include pStyleAdaptive();
                margin-bottom: 22.5px;
            }
            @media (max-width: 320px ) {
                margin-bottom: 38.5px;
            }
        }
        &__text {
            @include pStyle();
            margin-bottom: 38px;
            @media (max-width: 1024px ) {
                @include pStyleAdaptive();
                margin-bottom: 39px;
            }
            @media (max-width: 320px ) {
                margin-bottom: 55px;
            }
        }
    // не получается сделать ховер и эктив
    &__socials{
            display: flex;
            margin: auto 0 0 0 ;
            column-gap: 6px;
        } 
    }
    &__socials__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 39px;
        width: 39px;
        border: 1px solid #C6CBCD;
        cursor: pointer;
        transition: all .3s linear;
        @media (max-width: 1024px ) {
            height: 33px;
            width: 33px;
        }
        @media (max-width: 320px ) {
            height: 39px;
            width: 39px;
        }
    }
    // &__socials__svg {
       
    // }
    &__socials__link:hover path {
        border: 1px solid $linkHover;
        fill: $linkHover;
    }
    &__socials__link:active path {
        border: 1px solid $linkActive;
        fill: $linkActive;
    }
    &__socials__link:hover  {
        border: 1px solid $linkHover;
        fill: $linkHover;
    }
    &__socials__link:active  {
        border: 1px solid $linkActive;
        fill: $linkActive;
    }
}

.testimonials {
    &__swiper{
        padding-bottom: 50px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: fit-content;
        padding: 0;
        background-color: #5C3249;
        @media (max-width: 1024px ) {
            width: 100%;
            padding: 0px;
            }
    }
    &__img__wrap {
        width: 50%;
        overflow: hidden;
        position: relative; 
        &::after{
            content: "";
            display: block;
            padding-top: 66%;
        }
        @media (max-width: 480px ) {
            width: 100%;
        }
    }
    &__img {
    // картинка все равно обрезается справа
        object-position: right;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 0;
        width: 100%;
        height: 100%;
    }
    &__content {
        align-self: center;
        width: 50%;
        padding: 50px 100px 50px 130px ;
        color: #fff;
        @media (max-width: 1024px ) {
            padding: 50px  88px ;
        }
        @media (max-width: 768px ) {
            padding: 20px 20px 20px 35px;
        }
        @media (max-width: 480px ) {
            width: 100%;
            padding: 35px 20px 95px;
        }
    }
    &__title {
        font-family: $additionalFont;
        font-style: italic;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        margin-bottom: 30px;
        max-width: 470px;
        @media (max-width: 1024px ) {
            font-size: 24px;
            line-height: 32px;
            max-width: 300px;
        }
        @media (max-width: 480px ) {
            max-width: 420px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 35px;
        }
        @media (max-width: 320px ) {
            max-width: 275px;
        }
    }
    &__comment {
        font: $maneFont;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        @media (max-width: 1024px ) {
            font-size: 12px;
            line-height: 14px;
            max-width: 300px;
        }
        @media (max-width: 480px ) {
            max-width: 420px;
            margin: 0 auto;
            text-align: center;
        }
        @media (max-width: 320px ) {
            max-width: 275px;
        }
    }
}
.swiper-pagination {
    margin-top: 40px;
}
.swiper-pagination-bullet-active {
    background-color: #5C3249;
}
.download {
    padding: 130px 0;
    text-align: center;
    @media (max-width: 1024px ) {
        padding: 93px 0;
        }
    @media (max-width: 320px ) {
        padding: 85px 0 45px;
        }
    &__title {
        @include h3Style();
        margin-bottom: 22.5px;
        @media (max-width: 1024px ) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
            }
        @media (max-width: 580px ) {
            max-width: 350px;
            margin: 0 auto 20px;
            }
        @media (max-width: 320px ) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 22px;
            }
    }
    &__text{
        @include pStyle();
        font-weight: 700;
        @media (max-width: 1024px ) {
            @include pStyleAdaptive();
            font-weight: 700;
            }
        @media (max-width: 320px ) {
            font-size: 13px;
            line-height: 15px;
            max-width: 250px;
            margin: 0 auto;
            }
    }
    &__btn{
        @include h4Style();
        color: #fff;
        border: none;
        padding: 25px;
        width: 100%;
        max-width: 369px;
        background-color: $colorBtn;
        margin: 50px auto 0;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color 0.2s linear 0.3s, box-shadow 0.2s linear 0.3s;;
        @media (max-width: 1024px ) {
            width: 100%;
            max-width: 313px;
            margin: 45px auto 0;
            }
        @media (max-width: 320px ) {
            font-size: 18px;
            line-height: 21px;
            width: 100%;
            max-width: 279px;
            margin: 13.5px auto 0;
            }
    }
    &__btn:hover{
        background-color: $colorBtnHover;
    }
    &__btn:active {
        background-color: $colorBtn;
        box-shadow: 4px 4px 30px $colorBtn;
    }
}
.footer {
    &__top {
    background-color: #353C65;
    padding: 71px 0 67px;
    @media (max-width: 1024px ) {
        padding: 47px 0 41px;
    }
    @media (max-width: 320px ) {
        padding: 34px 0 33px;
    }
        &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
    }
    &__block {
        width: calc((100% - 60px) / 3);
        text-align: center;
        color: #fff;
        text-transform: capitalize;
        @media (max-width: 1024px ) {
            width: calc((100% - 40px) / 3);
        }
        @media (max-width: 768px ) {
            width: 100%;
            max-width: 550px;
            margin: 0 auto 60px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__title {
        @include pStyle();
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 29px;
        @media (max-width: 1024px ) {
            @include pStyleAdaptive();
            font-weight: 700;
            margin-bottom: 17px;
        }
        @media (max-width: 480px ) {
            margin-bottom: 34px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__text {
        @include pStyle();
        @media (max-width: 1024px ) {
            @include pStyleAdaptive();
        }
    }
    // не получается сделать ховер и эктив
    &__socials {
        display: flex;
        justify-content:center;
        column-gap: 27px;
        padding-top: 20px;
        @media (max-width: 1024px ) {
            padding-top: 15px;
            column-gap: 23px;
        }
        @media (max-width: 480px ) {
            padding-top:16px;
        }
    
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 39px;
            width: 39px;
            border: 1px solid #C6CBCD;
            cursor: pointer;
            transition: all .3s linear ;
            @media (max-width: 1024px ) {
                height: 33px;
                width: 33px;
                padding: 9px;
            }
            @media (max-width: 480px ) {
                height: 39px;
                width: 39px;
            }
        }
        &__link:hover{
            border: 1px solid $linkHover;
        }
        &__link:active {
            border: 1px solid $linkActive;
        }
        &__link:hover path {
            fill: $linkHover;
        }
        &__link:active path {
            fill: $linkActive;
        }
    }
    &__bottom {
        background-color: #2C3154;
        padding: 24px 0;
        @media (max-width: 320px ) {
            padding: 29px 0;
        }

        &__text {
            @include pStyle();
            color: #808080;
            text-transform: capitalize;
            text-align: center;
            max-width: 370px;
            margin: 0 auto;
            @media (max-width: 1024px ) {
                @include pStyleAdaptive();
                max-width: 314px;
            }
            @media (max-width: 320px ) {
                max-width: 280px;
            }
        }
        &__text_white {
            color: #fff;
        }
    }
}